body{
    font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat-Blod';
}

h2{
 font-size: 3rem;
 line-height: 1.5;
 font-weight: 700;
}

h3{
    height: 1.5rem;
}

.big-heading{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}


#title{
    background-color: #ff4c68;
    color: white;
}



.container-fluid{
    padding: 3% 15% 7%;

}

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 35px;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.rotated {
    width: 60%;
    margin-top: 20px;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width: 1020px){
    #title{
        text-align: center;
    }

    .rotated{
        position: static;
        transform: rotate(0deg);
    }
}

.posclass{
    position: relative;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.para{
    color: #8f8f8f;
    padding: 3%;
}

.facolor{
    color: #ef8172;
    margin-bottom: 1rem;
}

.facolor:hover{
    color: #ff4c68;
}

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative; 
}

.feature-box{
    text-align: center;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimg{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.price-col{
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
}

.h3class{
    font-family: "Montserrat-Black"; 
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    padding-bottom: 20px;
    
}

#footer{
    text-align: center;
    padding: 7% 15%
}

.foo{
    margin: 20px 10px;
}
